body{
    width: 100%;
    height: 100vh;
}

.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
}

.menu{
    height: 100%;
    width: 20%;
    min-width: 200px;
    max-width: 250px;
    background-color: #000622;
    border-radius: 20px;
}

.profile{
    text-align: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__content{
    padding: 20px;
}

.client__name{
    color: #fff;
    font-size: 18px;
}

.profile__img{
    width: 75px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile__edit{
    color: white;
    text-decoration: none;
    background-color: #314492;
    padding: 3px 10px 3px 10px;
    border-radius: 30px;
}

.profile__edit:hover{
    color: #B3B3B3;
}

.menu__content{
    height: 73.4%;
    background-color: #2B3663;
    border-top-right-radius: 100px;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #B3B3B3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu__items{
    list-style: none;
}
.menu__item{
    line-height: 3;
}

.menu__img{
    margin-right: 20px;
}
.menu__link{
    color: #B3B3B3;
    text-decoration: none;
}

.menu__link:hover{
    color: #fff;
}

.problems{
    margin: 0 auto;
    background-color: #000622;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    line-height: 0.5;
    color: #B3B3B3;
}

.problems a{
    color: inherit;
    text-decoration: none;
}



/***Main***/
.main{
    width: 100%;
    padding: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.titulo{
    font-size: 25px;
}
.name{
    color: #B3B3B3;    
}

.search{
    width: 300px;
}

.search__input{
    width: 90%;
    border: none;
    padding: 5px;
    background: url('../img/svg_icons/search.svg'); 
    background-repeat: no-repeat;
    background-position: left; 
    padding-left: 25px;
}

.search__input:hover{
    border: 0px solid #fff;
}

.search__input:active{
    border: none;
    border-color: #fff;
}

/*Request*/
.request{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}

.request__content{
    min-width: 220px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #F1f2f1;
    padding: 20px;
}

.request__button{
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border: 1px solid #000622;
}

.button__spinning{
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(5,45,54);
    
}

.spinning__img{
    margin-right: 10px;
}